<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Server=ts-internship-2019.database.windows.net;Database=neversea;User Id=usr2020;Password=n39fn0n2_j32-(#;MultipleActiveResultSets=true" />
  </connectionStrings>
</configuration>